body {
    font-family: Arial, sans-serif;
    background-color: #f8f1c1;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #ffcc00;
    padding: 20px 0;
}
  
.LOGO  img{

    width: 10%;
    height: auto;
    max-height: 200px;
    object-fit: cover;

}
  
nav ul {
    list-style: none;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin: 0 15px;
}
  
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
}
  
.servicos {
    padding: 40px;
}
  
.servico {
    background-color: #222;
    color: #ffcc00;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
  
footer {
    background-color: #222;
    color: #ffcc00;
    padding: 15px;
    margin-top: 30px;
}
